<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/index}">
<head>
<title>Content</title>
<script src="content-script.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<!-- Other javascript, css source files -->
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<!-- Other javascript, css source files -->
<link rel="stylesheet" type="text/css" href="../css/pro.css" />
</head>
<body>
	<article layout:fragment="content">
		<p>This is a paragraph from content page 1</p>
	</article>
	<footer layout:fragment="custom-footer">
		<p>Footer</p>
		<p>Copy right by namnv</p>

	</footer>
</body>
</html>