
<!DOCTYPE>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="../css/style1.css" />
<!-- Other javascript, css source files -->
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/style1.css" />
<!-- Other javascript, css source files -->
</head>
<body>
	<header>
		<h2>FPOLY DA NANG</h2>
	</header>
	<section>
		<nav>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/product">Product</a></li>
				<li><a href="/home">Contact</a></li>
				<li><a href="/home">About</a></li>
			</ul>
		</nav>
		<article layout:fragment="content">
			<!-- <h2>TRANG CHỦ</h2>
			<p>Đây là trang chủ của tôi</p> -->
		</article>
	</section>
	<footer layout:fragment="custom-footer">
	</footer>
</body>
</html>